version: '3.9'
services:
  database:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: rafty
      POSTGRES_PASSWORD: rafty
      POSTGRES_DB: rafty
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: